html{
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 205px;
    background-color: lightskyblue;
    height: 400px;
    margin-top: -0.5cm;
    border: 5px solid;
    border-radius: 5%;
  }
  li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    
  }
  li a:hover {
    background-color: #555;
    color: black;
  }
#logo{
      width: 200px;
      border-radius: 50%;
  }
  body{
      background-color: whitesmoke;
  }
  nav{
      background-attachment: fixed;
  }
.name{
    
    color: black;
}
.split {
    height: 100%;
    width: 85%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    scroll-behavior: smooth;
    
  }
  
  .right {
    right: 0;
    background-color: whitesmoke;
  }
  #kush {
      color: black;
      text-shadow: 20px,white;
      margin-top: 50px;
      font-family: Arial, Helvetica, sans-serif;
      opacity: 0.5;
      margin-left: 32%;
      margin-top: 25%;
      margin-right: 29%;
      font-size: 50px;
      text-shadow: 103px;
            
  } 
  #kush:hover{
    animation: sum 3s infinite;  
  }
       
#student {
    color: black;
      text-shadow: 20px,white;
      font-family: Arial, Helvetica, sans-serif;
      opacity: 0.5;
      margin-left: 32%;
      font-size: 45px;
      margin-right: 31%;
      font-weight: 500;
}
#student:hover{
  animation: sum 3s infinite;  
}
#about{
    color: black;
    margin-top: 500px;
    font-size: larger;
    display: flex;
    
}
#text1 {
        background-color: whitesmoke;
        color: black;
        width: 500px;
        background-clip: padding-box;
        display: flex;
        padding: 50px 50px 50px 50px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 100px;
        line-height: 1.3;
    
}
#me{
    width: 270px;
    height: 250px;
    margin-top: 100px;
    border-radius: 10%;
    box-shadow: 103px 73px 17px 26px rgba(68, 68, 70, 0.22);
}
#me:hover{transform: scale(1.3);
          transition: 500ms;}
.skils{
    color: black;
    margin-top: 500px;
}
#o1{
    font-size: 20px;
    color: black;
    line-height: 1.3;
    display: block;
}
#h1
{
color: black;
}
.split {
  overflow-y: scroll;
}
#skils{
  color: black;
  margin-top: 200%;
}
@keyframes sum {
    0%{
      text-shadow:5px 5px 4px red;
    }
    25%{text-shadow:5px 5px 4px blue;}
    50%{text-shadow:5px 5px 4px yellow;}
    75%{text-shadow:5px 5px 4px pink;}
    100%{text-shadow:5px 5px 4px red;}
}
.Extrame{
  color: black;
    margin-top: 550px;
}
#e1{
  color: black;

}
#madal th, td, tr {
  border: 1px solid;
  
}
table{
  width: 85%;
}
th{
  height: 50px;
  text-align: center;
}
td{
  text-align: center;
}
tr:hover{ background-color: coral;}
.photoes{
  color: black;
    margin-top: 500px;
}
/* From cssbuttons.io by @westitan */
button {
  position: fixed;
  padding: 19px 36px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 40px;
  border: none;
  margin-left: 65%;
 }
 
 button span {
  position: relative;
  color: #fff;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
 }
 
 button .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
 }
 
 button .liquid::after,
 button .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fff;
 }
 
 button .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
 }
 
 button .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
 }
 
 button:hover .liquid {
  top: -120px;
 }
 
 @keyframes animate {
  0% {
   transform: translate(-50%, -75%) rotate(0deg);
  }
 
  100% {
   transform: translate(-50%, -75%) rotate(360deg);
  }
 }